<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
<test thread-count="5" name="BestBuyTest">
<classes>
<class name="testcases.tc01_open_website"/>
<class name="testcases.tc02_URL_validation"/>
<class name="testcases.tc03_signup"/>
<class name="testcases.tc04_signin"></class>
<class name="testcases.tc05_menu_validation"></class>
<class name="testcases.tc06_bottom_links_validation"></class>
<class name="testcases.tc07_Search_Product"></class>
<class name="testcases.tc08_Department_Item_Add"></class>
<class name="testcases.tc09_Brand_Item_Add"></class>
<class name="testcases.tc10_checkout"></class>
</classes>
</test>
</suite>